/*
 * generell stuff ----------------------------------------
 */
h1
{
	font-family:"trebuchet MS",Verdana,sans-serif;
	font-size:16px;
	font-weight:bold;
}

h2
{
	font-family:"trebuchet MS",Verdana,sans-serif;
	font-size:13px;
	font-weight:bold;
}

table
{
  border-collapse: collapse;
}

p, td
{
	font-family:"trebuchet MS",Verdana,sans-serif;
	font-size:12px;
	font-weight:normal;
	empty-cells:show;
}

th, th a, th a:link, th a:hover
{
	font-family:"trebuchet MS",Verdana,sans-serif;
	font-size:12px;
	color:#fff;
	font-weight:bold;
	text-decoration: none;
	empty-cells:show;
}

th a:link
{
	font-family:"trebuchet MS",Verdana,sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	text-decoration: none;
}

th a:hover
{
	font-family:"trebuchet MS",Verdana,sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#336699;
	text-decoration: none;
}

form
{
  margin-bottom:1px;
}

select, td.select
{
	border:  1px solid #aaa;
}

input, textarea, td.input, td.textarea
{
	border:  1px solid #aaa;
	padding:  1px;
	margin: 1px;
	background:  #fff;
	white-space:nowrap;
	font-size:11px;
}

.button
{
  background-color:#b6bdd2;
  color:#000;
  font-family:"trebuchet MS",Verdana,sans-serif;
  font-size:10px;
  border:1px solid #aaa;
	cursor:pointer;
	border-color:#bbb #111 #111 #bbb;
	padding: 0px 0px;
	padding-left:8px;
	padding-right:8px;
}

.formtext
{
	border: 1px solid #aaa;
	padding: 1px;
	background:  #eee;
	white-space:nowrap;
	font-size: 11px;
}

.formselect
{
	width:180px;
	font-family:"trebuchet MS",Verdana,sans-serif;
	font-size:11px;
}

.error
{
  color: #ff0000;
  font-size: 11px;
  padding-left: 10px;
}

.smallrgtxt
{
  color: #000;
  font-size: 9px;
}

.msggray
{
	color:#999;
	font-size:11px;
	font-style:italic;
}

.ecode_true
{
  color: #00cc00;
  font-size: 12px;
  font-weight: bold;
  padding-left: 10px;
}

.ecode_false
{
  color: #ff0000;
  font-size: 12px;
  font-weight: bold;
  padding-left: 10px;
}
/*
 * -----------------------------------------------------
 */






/*
 * tabellen (eingabemasken) ----------------------------------------
 */
.tableheader
{
  font-size: 13px;
  font-weight: bold;
	margin:20px 0px 0px 0px;
}

.tableouter
{
	width:100%;
	background:#DCE1F1;
	border:1px solid #bbb;
	margin-bottom:10px;
}

.tableinner
{
	width:100%;
	border:0px;
}

.tableinner_small
{
	border:0px;
}

.tableindiv
{
	width:100%;
	border:0px solid #000000;
	background:#fff;
}
/*
 * -----------------------------------------------------
 */




/*
 * tabellen (listen) ----------------------------------------
 */
.tdhead
{
	font-family:"trebuchet MS",Verdana,sans-serif;
	font-size:11px;
	font-weight: bold;
	color: #444;
	background:#D9D6CF url("images/bg_box2.gif") repeat-x bottom;
	text-align: center;
	border-bottom-width:1px;
	border-bottom-style:solid;
	/*border-right-width:1px;*/
	/*border-right-style:solid;*/
	border-color:#D9D6CF;
	background-color:#DCE1F1;
	padding:1px 5px;
}

.tdhead a
{
	color: #444;
}

.tdlinks
{
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-width:1px;
	border-right-style:solid;
	border-left-width:1px;
	border-left-style:solid;
	border-color:#D9D6CF;
	background-color:#fff;
	padding:2px;
	/*width:160px;*/
}

.tdlinkssub
{
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-width:1px;
	border-right-style:solid;
	border-left-width:1px;
	border-left-style:solid;
	border-color:#D9D6CF;
	background-color:#fff;
	padding:2px;
	/*width:160px;*/
}

.tdrechts
{
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-width:1px;
	border-right-style:solid;
	border-color:#D9D6CF;
	padding:2px;
}

.tdrechtsfirst
{
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-width:1px;
	border-right-style:solid;
	border-left-width:1px;
	border-left-style:solid;
	border-color:#D9D6CF;
	padding:2px;
}

.treven
{
	background-color:#eef;
}

.trodd
{
	background-color:#fff;
}

.trnologout
{
	background-color:#ff9944;
}

.trerror
{
	background-color:#f00;
}
/*
 * ----------------------------------------------------
 */



/*
 * infobox (for start.php in each module)-----------------------------
 */
.infobox
{
	max-width:500px;
	border:1px solid #D9D6CF;
	padding:0px;
	margin:0px 0px 16px 0px;
	background-color: #fff;
}

.infobox h1
{
	font:11px Tahoma,Verdana,sans-serif;
	padding: 3px 14px;
	color: #444;
	background:#D9D6CF url("images/headNEW.jpg") repeat-x bottom;
  font-weight: bold;
	margin:0px;
}

.infobox ul
{
	padding:3px 25px;
	margin:0px;
}

.infobox li
{
	font:11px Tahoma,Verdana,sans-serif;
	padding:1px;
}

.infobox p, .infobox td, .infobox tr, .infobox table
{
	font:11px Tahoma,Verdana,sans-serif;
	padding: 5px 14px;
	margin:0px;
}

.infobox table {
  border-collapse: collapse;
}

.infobox td
{
  empty-cells:show;
}
/*
 * ------------------------------------------------------
 */

/*
 * linkbox ---------------------------------------------
 */
.linkbox {
	max-width:500px;
	border:1px solid #D9D6CF;
	padding:0px;
	margin:0px 0px 16px 0px;
	background-color: #E1E5F0;
}

.linkbox:hover {
	background-color:#b6bdd2;
}

.linkbox p { margin:3px 3px 3px 20px; }
/*
 * -----------------------------------------------------
 */


/*
 * footer -------------------------------
 */
#footer
{
  background:#D6DCF2 url("images/bg_footer.gif") repeat-x top;
}

#footer p
{
  position:relative;
  margin-top:4px;
  padding:0;
  border:1px solid green;
}

#footer a:before
{
	content:url('images/icon_kontakt.gif');
	margin-right:4px;
}
/*
 * ------------------------------------------------------
 */


/*
 * menu2 (for neukunde_edit.php only) -------------------------------
 */
#menu2
{
  display:table;
  padding:0px; 
  margin:0px auto; 
  list-style-type:none;
  white-space:nowrap;
}

#menu2 li
{
  display:table-cell;
}

* html #menu2 li
{
  float:left;
}

#menu2 a
{
  width:auto;
  display:block;
  padding:5px 11px;
  color:#333; 
  background:#dce1f1; 
  border:1px solid #555;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc; 
  text-decoration:none;
	font-family:"trebuchet MS",Verdana,sans-serif;
	font-size:11px;
	margin:1px;
}
	
* html #menu2 a
{
  float:left;
}

#menu2 a:hover
{
  color:#fff; 
  background:#2a7fff;
}
/*
 * --------------------------------------------------------
 */
 

/*
 * tooltipex ----------------------------------------------
 */
div.tooltipex {
	font: 11px "trebuchet ms", arial, sans-serif;
	position: absolute;
	display: none;
	text-align:left;
	background-color: #DCE1F1;
	padding: 1px 1px 1px 1px;
	/*filter: alpha(opacity=90);*/
	opacity: 0.95;
	-moz-opacity: 0.95;
	border: 1px solid #bbb;
	width:200px;
}

div.tooltipex p {
  margin:0;
  padding:0;
}
/*
 * --------------------------------------------------------
 */
.TabbedPanels {
	width: 95%;
}

.TabbedPanelsTab {
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
}

hr {
	clear: left;
}