body {
  background:#fff;
  margin:0;
  padding:0;
  color:#000;
  font:12px Tahoma,Verdana,sans-serif;
  voice-family: "\"}\""; voice-family:inherit;
}

#header {
  float:left;
  width:100%;
  background:#D6DCF2 url("images/bg.gif") repeat-x bottom;
  font-size:93%;
  line-height:17px;
}

#header ul {
  margin:0;
  padding:2px 2px 0;
  list-style:none;
}

#header li {
  float:left;
  background:url("images/left_both_ms.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
  border-bottom:0px solid #765;
}

#header a {
  float:left;
  display:block;
  background:url("images/right_both_ms.gif") no-repeat right top;
  padding:2px 15px 4px 6px;
  text-decoration:none;
  font-weight:normal;
  color:#000;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#header a {float:none;}
/* End IE5-Mac hack */

#header a:hover {
  color:#333;
}

#header #current {
  background-position:0 -150px;
  border-width:0;
}

#header #current a {
  background-position:100% -150px;
  padding-bottom:5px;
  color:#333;
}

#header li:hover, #header li:hover a {
  background-position:0% -150px;
  color:#333;
}

#header li:hover a {
  background-position:100% -150px;
}