html>body {font-size:small;}

body {
  background:#fff;
  margin:0;
  padding:0;
  color:#000;
  font:x-small/12px "trebuchet MS",Verdana,sans-serif;
  voice-family: "\"}\""; voice-family:inherit;
  font-size:small;
}

#header ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}

#header li
{
  float: left;
  margin: 0 1px;
}

#header li a
{
  background: url('images/background.gif') #fff bottom left repeat-x;
  height: 19px;
  line-height: 17px;
  float: left;
  width: 100px;
  display: block;
  border: 1px solid #dcdce9;
  color: #0d2474;
  text-decoration: none;
  text-align: center;
}

#header a:hover {
  color:#333;
}

#header #current a {
  background: url('images/background_over.gif') #fff bottom left repeat-x;
}