body {
	background-color: #FFF;
	margin: 0;
	border: 0;
	padding: 0;
}

.pCalTable {
	width: 100%;
	border: 1px solid #888;
}
.pCalHeadDesc {
	border-style: solid;
	border-width: 1px;
	border-color: #FFF #444 #444 #FFF;
	background-color: #DDD;
	padding: 2px 10px 2px 5px;
	font-family: "trebuchet MS",Verdana,sans-serif;
	font-size: 9px;
}
.pCalAppHeadDesc {
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #FFF #444 #444 #FFF;
	background-color: #DDD;
	padding: 2px 10px 2px 5px;
	font: 11px "trebuchet MS",Verdana,sans-serif;
}
.pCalHourCell {
	font: 18px bold "trebuchet MS",Verdana,sans-serif;
	vertical-align: top;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: #FFF #444 #444 #FFF;
	background-color: #DDDDDD;
	padding-left: 5px;
	padding-right: 5px;
}
.pCalMinuteCell {
	border-style: solid;
	border-width: 1px;
	border-color: #FFF #444 #444 #FFF;
	background-color: #DDDDDD;
	padding: 0px 5px 0px 5px;
	font: 8px Tahoma, Helvetica;
}
.pCallFreeTime {
	border-bottom: 1px solid #444;
	padding: 2px 10px 2px 5px;
	font-size: 8px;
}
.pCalAppointment {
	border-bottom: 1px solid #444;
	border-right: 1px solid #444;
	vertical-align: top;
	font: 11px "trebuchet MS",Verdana,sans-serif;
	border-left: 10px solid #3d4d5f;
	padding: 5px;
	background-color: #FFF;
}
td {
	font: 11px "trebuchet MS",Verdana,sans-serif;
}
